.home{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.home__container{
    height: 400px;
    width: 100%;
    
}

.home__row{
    display: flex;
    z-index: -1;
    margin-left: 5px;
    margin-right:5px;
    
    
   
}
.home__img{
    object-fit: contain;
     width: 100%;
     z-index: -1;  
     margin-bottom: -400px;
     mask-image: linear-gradient( to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
 }



