.payment{
    background-color: white;
}
.payment--container{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    border-bottom: 2px solid lightgray;
}
.payment--section{
    display: flex;
    padding: 20px;
    border-bottom: 2px solid lightgrey;
    margin: 0 20px;

}
.payment--address{
    flex:0.2;
}