.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
}
.product__img{
    width: 100%;
    max-height: 275px;
    margin-bottom: 15px;
    object-fit: contain;
}
.product--info{
    height: 450px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__price{
    margin-top: 5px;
}


.product__button{
    background-color: #F7CA00 ;
    color: black;
    border: 1px solid;
    border-radius: 24px;
    padding: 8px 50px;
    border-color: white;
    margin-top: 10px;
}