.subtotal{
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddd;
    margin: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subtotal__gift{
    display: flex;
    align-items: center;

}
.subtotal__gift input{
    margin-right: 5px;
}
.subtotal button{
    background-color: #F7CA00;
    width: 100%;
    height: 30px;
    border: 1px solid #9b8212;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
}